body {
    color: #666;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2000;
}

.music-loader {
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
    opacity: 1;
    background-image: radial-gradient(#616161 2px, transparent 2px), radial-gradient(#616161 2px, #101010 2px);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
}

body .music-loader {
    position: relative;
}

body .music-loader .bar {
    height: 20px;
    width: 10px;
    margin-right: 5px;
    animation: loader 1.5s ease-out infinite;
    box-shadow: 0 0 10px #f4ff7d, 0 0 40px #f4ff7d, 0 0 80px #f4ff7d;
    background-color: #f4ff7d;
}

body .music-loader .bar.bar-2 {
    animation-delay: 0.4s;
    left: 15px;
}

body .music-loader .bar.bar-3 {
    animation-delay: 0.8s;
    left: 30px;
}

body .music-loader .bar.bar-4 {
    animation-delay: 1.2s;
    left: 45px;
}

body .music-loader .bar.bar-5 {
    animation-delay: 0.6s;
    left: 60px;
}

body .music-loader .bar.bar-6 {
    animation-delay: 0.4s;
    left: 75px;
}

body .music-loader .bar.bar-7 {
    animation-delay: 1s;
    left: 90px;
}

body .music-loader .bar.bar-8 {
    animation-delay: 0.8s;
    left: 105px;
}

@keyframes loader {
    0% {
        height: 30px;
    }
    15% {
        height: 40px;
    }
    35% {
        height: 50px;
    }
    45% {
        height: 40px;
    }
    75% {
        height: 30px;
    }
    100% {
        height: 20px;
    }
}

#home {
    background: url("https://firebasestorage.googleapis.com/v0/b/curriculum-back.appspot.com/o/images%2Fback_ground.jpg?alt=media&token=c7f7e92d-91f2-4205-adaf-a013d14c98a2");
    background-color: #222;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.btn,
.iconbox,
.progress,
#filter li,
.scroll-up a,
.form-control,
.input-group-addon {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.pfblock-image {
    color: #fff;
}

.pfblock-image {
    padding: 0;
}

.home-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("https://firebasestorage.googleapis.com/v0/b/curriculum-back.appspot.com/o/images%2Fpattern.png?alt=media&token=d54a15b3-4308-41c1-956f-78bf90e80bd8");
    background-repeat: repeat;
    height: 101%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px;
}

.start {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-size: 16px;
    font-style: normal;
    text-transform: none;
    margin: 15px 0;
}

.intro h1 {
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 700 40px/1.2 Raleway, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
    color: #222
}

h2 {
    font-size: 30px;
    margin: 0 0 30px;
}

h3 {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

h4 {
    font-size: 12px;
    letter-spacing: 1px;
}

h5 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}

h6 {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
}

.pfblock-image h1 {
    color: #fff
}

.scroll-down {
    position: absolute;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    z-index: 10;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

a,
.btn {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}

.scroll-down span {
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

.header {
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 998 !important;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0;
}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.jt-block {
    padding: 120px 0 100px
}

.jt-block-gray {
    background: #f5f5f5;
}

.jt-block-header {
    text-align: center;
    margin: 0 0 60px;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animaeted {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.jt-block-title {
    font-weight: 800
}

.jt-block-line {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}

.jt-block-subtitle {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.iconbox {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px;
}

.iconbox-icon {
    margin: 0 0 15px;
    font-size: 32px;
    color: #222;
}

.iconbox-title {
    margin: 0 0 15px;
    padding: 0;
}


/*--------------------------------*/


/***** Portfolio Common style *****/


/*--------------------------------*/

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 100%;
    list-style: none;
    text-align: center;
}

.grid h2 {
    font-size: 20px;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    background: black;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: auto;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/*---------------*/


/***** Bubba *****/


/*---------------*/

figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.effect-bubba h2 {
    padding-top: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    color: #fff;
}

figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.chart {
    display: inline-block;
    height: 140px;
    margin: 50px 0;
    position: relative;
    text-align: center;
    width: 140px;
}

.percent {
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    line-height: 140px;
    z-index: 2;
}

.percent::after {
    content: "%";
    font-size: 50%;
    margin-left: 0.1em;
}

.chart canvas {
    left: 0;
    position: absolute;
    top: 0;
}

.pfblock-gray {
    background: #f5f5f5;
}

.pfblock-header {
    text-align: center;
    margin: 0 0 60px;
}

.pfblock-title {
    font-weight: 800;
}

.pfblock-line {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}

.pfblock-subtitle {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-style: normal;
    font-size: 18px;
}

@media (max-width: 640px) {
    .scroll-down {
        bottom: 10px;
    }
}

@media (max-width: 575px) {
    .cbp-qtrotator blockquote {
        text-align: center;
    }
    .cbp-qtrotator .cbp-qtcontent img {
        display: none;
    }
}

#footer {
    background: #222;
    text-align: center;
    padding: 40px 0;
    color: #FFF;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.social-links li {
    display: inline-block;
    margin: 5px;
}

.social-links a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, .2);
}

#footer span {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.copyright {
    margin: 0;
}

.copyright a {
    border-bottom: 1px dotted #fff;
}

a:hover {
    text-decoration: none;
    color: #999;
}

a {
    color: #E7746F;
}

.img-certificate {
    height: 119px;
    width: 250px;
}

.targets-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.targets-wrapper a {
    flex-basis: 33%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.cbp-qtrotator {
    margin: 0em auto 0em auto;
    min-height: unset;
}

.txt-certificate {
    flex-basis: 100%;
    text-align: center;
}